CANVAS_SLOT=stable
CANVAS_WEB_PORT=18100
CANVAS_API_PORT=18101
CANVAS_DATABASE_PORT=15432
CANVAS_DATABASE_VOLUME=canvas_stable_database
CANVAS_OBJECT_DIR=/home/ubuntu/canvas-standalone/state/stable/objects
CANVAS_SECRETS_DIR=/home/ubuntu/canvas-standalone/state/stable/secrets
CANVAS_OFFICIAL_BASE_URL=http://host.docker.internal:18080
CANVAS_WRITES_ENABLED=false
CANVAS_AUTH_CACHE_TTL=20s
CANVAS_CREDENTIAL_ACTIVE_KEY_VERSION=1
CANVAS_ALLOWED_EXTERNAL_USER_IDS=
